* {
    margin: 0;
    padding: 0;
}

* {
    // outline: 1px solid red;
}

body,
html {
    font-family: '微軟正黑體', 'Roboto', sans-serif;
    background-color: rgb(253, 251, 240);
}

h1,
h2 {
    font-family: '微軟正黑體', 'Roboto', sans-serif;
    text-align: center;
    margin: 15px 0px;
}

.clearfix::after {
    content: '';
    display: block;
    height: 0px;
    width: 100%;
    clear: both;
}

.app {
    text-align: center;
}

.typeTxt {
    margin: 40px auto 30px;
    height: 50px;
    span {
        display: inline-block;
        cursor: pointer;
        width: 60px;
        font-size: 18px;
        background-color: rgba(19, 81, 153, 0.8);
        color: #fff;
    }
    span:hover {
        background-color: rgba(19, 81, 153, 1);
    }
}

.inputArea {
    font-size: 20px;
    font-family: '微軟正黑體', 'Roboto', sans-serif;
}

.active {
    text-decoration: line-through;
    color: #9B9B9B;
}

.tab {
    width: 960px;
    max-width: 960px;
    margin: 0 auto;
}

.tabLinks {
    display: block;
    width: 33.333333%;
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: 700;
    background-color: #4A90E2;
    color: #00408B;
    cursor: pointer;
    border-bottom: 5px solid transparent;
}

.tab .tabActive {
    color: #fff;
    border-bottom: 5px solid #00408B;
}

.tabLinks:hover {
    color: #fff;
    border-bottom: 5px solid #00408B;
    transition: 0.4s;
}

.tabContent {
    box-sizing: border-box;
    max-width: 960px;
    margin: 0 auto;
    background-color: #E1E1E1;
    padding: 1% 2%;
    font-size: 20px;
}

#completedList {
    color: rgb(126, 108, 108);
    font-style: italic;
    .eachItem {
        background-color: #FFF2DC;
    }
}

#inProcess {
    color: rgb(228, 58, 95);
}

.eachItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #F2F2F2;
    margin: 15px 0;
}

.checkBtn {
    flex: 1;
}

.showTxt {
    flex: 9;
    text-align: left;
}

.delBtn {
    flex: 1;
}